<?xml version="1.0"?>
<robot name="block_2">
<link name="table">
      <visual name='track_visual'>
        <inertial>
         <mass>0.001</mass>
         <!-- inertia based on solid sphere 2/5 mr^2 -->
         <inertia>
           <ixx>1</ixx>
           <iyy>1</iyy>
           <izz>1</izz>
           <ixy>0</ixy>
           <ixz>0</ixz>
           <iyz>0</iyz>
         </inertia>
       </inertial>
        <geometry>
          <mesh filename="RoboyParkourChallengeTrack-Simplistic-2019-09-19.stl" scale="0.001 0.001 0.0012">
          </mesh>
        </geometry>
      </visual>
      <collision name='track_collision'>
        <geometry>
          <mesh filename="RoboyParkourChallengeTrack-Simplistic-2019-09-19.stl" scale="0.001 0.001 0.0012">
          </mesh>
        </geometry>
      </collision>
</link>
</robot>
