<?xml version="1.0"?>
<robot name="track">
  <link name="track">
    <inertial>
      <mass value="1.0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual name='track_visual'>

      <geometry>
        <mesh filename="convex_track.obj" scale="0.2 0.2 0.2">
        </mesh>
      </geometry>
    </visual>
    <collision name='track_collision'>
      <geometry>
        <mesh filename="convex_track.obj" scale="0.2 0.2 0.2">
        </mesh>
      </geometry>
    </collision>
  </link>
</robot>
